/* stylelint-disable */
@import './varibles/global';
@import './themes/dark';
@import "./themes/normal";
@import "reset";
/* stylelint-enable */
.app,
.app_modal {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--on-bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
