.app_light_theme {
  --bg-color: #fff;
  --primary-color: #6200ee;
  --primary-color-rgb: 98 0 238;
  --secondary-color: #03dac6;
  --on-primary-color: #fff;
  --on-secondary-color: #000;
  --on-bg-color: #000;
  --on-error-color: #fff;
  --error-color: #b00020;
  --surface-opacity-8: 0.8;
  --surface-bg-color: rgb(var(--primary-color-rgb) / 85%);
}
